body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    background-color: black;
    color: white;
}
header{
    color: white;
    display:flex;
    justify-content: space-around;
}
nav ul{
    display:flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1rem;
}
nav a{
    color: white;
    text-decoration: none;
}
nav li{
    list-style: none;
}
header img{
    width: 5rem;
}
.Services{
    font-weight: bold;
}
.Service{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    padding-right: 40rem;
}
.pictures{
    display: flex;
    justify-content:baseline;
    gap: 2rem;
    padding-left: 0;
}
.pictures img{
    width: 15vw;

}
.pictures li{
    list-style: none;
}
footer{
    background-color: rgba(255, 255, 255, 0.827);
    padding-bottom: 2rem;
    color: black;
}
footer li{
    list-style: none;
}
footer ul{
    padding-left: 0rem;
}
footer ul{
    display: flex;
    justify-content:center;
    gap: 1rem;
    padding-left: 0;
}
footer img{
    width: 2vw;
}
footer p{
    padding-top: 2rem;
    text-align: center;
}